.blog-item {
    height: 100%;
    width: 100%;
}

.error-bold {
    /* color: "#ca2f2f" !important; */
    color: firebrick;
    font-weight: bold !important;
}

.post-list-item-container {
    height: 300px;
}

.post-list-item {
    /* border: 1px red solid; */
    height: 280px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
}
